<htlm>

    <head>
        <title>Pomodoro Clock</title>
    </head>

    <body>
        <h3 id="clock"></h3>
        <label for="hour">Hora</label>
        <input id="hour" placeholder="00" type="number"/>
        <label for="minute">Minutos</label>
        <input id="minute" placeholder="00" type="number"/>
        <label for="second">Segundos</label>
        <input id="second" placeholder="00" type="number"/>

        <button id="start">Iniciar Cronometro</button>

    </body>
    <script src="../utils/main.js"></script>
</htlm>